.p-title{
    font-size: 30px;
    color:white ;
    font-weight: bolder;
    
}

.figure-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
}

.figure{
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 60px;
    padding: 10px 10px;
    margin: 10px 15px;
}
