.p-title{
    font-size: 30px;
    color:white ;
    font-weight: bolder;
    
}

.photo-grid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.figure{
    flex-basis: ca;
    border: 3px solid black;
    margin: 0 auto;
}
