.p-title{
    font-size: 30px;
    color:white ;
    font-weight: bolder;
    
}

.photo-grid{
    
    
}

.figure{
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 60%;
    padding: 10px 10px;
    margin: 10px 15px;
}
