.p-title{
    font-size: 30px;
    color:white ;
    font-weight: bolder;
    
}

.figure-grid{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    fle
    
}

.figure{
    flex-grow: 1;
    flex-basis: 60%;
}
.photo-component{
    margin: 0 auto;
    max-width: 1000px;
}