.p-title{
    font-size: 30px;
    color:white ;
    font-weight: bolder;
    
}

.photo-grid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figure{
    flex-basis: calc(33.33% ,4rem );
    border: 1px solid #d3d3d3;
    
    margin: 0 2rem 2rem 2rem;
}
